.header {
  display: flex;
  width: 100%;
  height: 20rem;
  background: url("https://i.imgur.com/YvvSBsy.jpg");
  background-position: center ;
  background-size: cover;
  opacity: 100%;
}

.logo {
  position:relative;
  opacity: 100%;
  height: 40%;
}

.hero{
  display: flex;
  opacity: 75%;
  width: 100%;
  height: 5 rem;
}

.categories{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: darkorange;
}