body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

home-bar {
  background-color: darkmagenta;
  box-shadow: 0px 15px 10px -15px #111;
  height: 80px;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

side-bar {
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0px 15px 10px -15px #111;
}

heroImage {
  width: max-content;
}

tile-image {
  max-width: 300px;
  padding: 1rem 2rem;
}

site-container {
  display: flex;
  width: auto;
  margin: 5% auto;
  padding: 1rem 2rem;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
site-tile {
  width: 50%;
  box-shadow: 0px 3px 3px -5px magenta;
}

review-container {
  display: flex;
  width: auto;
  margin: 5% auto;
  padding: 1rem 2rem;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
review-tile {
  width: 80%;
}

form {
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 60%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}
